#about {
  background-image: url(/assets/images/bg/about.jpeg) no-repeat center; 
  /* Change back address of image */
  background-size: 100% 100%;
  height: 300px; 
  /* Change height back to 630px */
}
