/* General CSS */
* {
 font-family: 'Montserrat', sans-serif;
 font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.page-wrapper {
  margin: 0 auto;
  min-height: calc(100vh - 50px);
}

.banner-wrapper {
  width:100%;
  height:100vh;
  overflow: hidden;
  video {
    object-fit: cover;
    width:100%;
    height:100%;
  }
}
video::-webkit-media-controls {
  display:none !important;
}
h1, h2 {
  margin: 0;
  position: absolute;
  z-index: 2;
  font-size: 15vmin;
  top:50%;
  transform:translateY(-50%);
  width: 100%;
  text-align: center;
  text-shadow:2px 2px 0 rgba(0,0,0,0.4);
}
h1 {
  font-size: 48px;
}
h2 {
  top:60%;
  font-size: 40px;
}
p {
  font-size: 16px;
  line-height:1.7;
  color: $black;
  margin:20px;
}
.subheading {
  font-size: 42px;
  font-weight: bold;
  color: $blue;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-primary {
  width: 185px;
  height: 40px;
  margin: 0;
  position: absolute;
  z-index: 2;
  top:70%;
  left:45%;
}
.text-white {
  color: $white;
}
.home {
  margin-top: 75px;
}
.intro, .pricing, .interested {
  background-color: rgb(245,245,245);
}
// .cd-words-wrapper {
//   display: inline-block;
//   position: relative;
//   text-align: left;
// }
// .cd-words-wrapper b {
//   display: inline-block;
//   position: absolute;
//   white-space: nowrap;
//   color: $blue;
//   left: 0;
//   top: 0;
// }
// .cd-words-wrapper b.is-visible {
//   position: relative;
// }
// .no-js .cd-words-wrapper b {
//   opacity: 0;
// }
// .no-js .cd-words-wrapper b.is-visible {
//   opacity: 1;
// }


section.blue {
  background: blue;
  height: 500px;
}



/* Reviews */
.review img {
  width: 150px;
  height: 150px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}
.news-logos {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-logos-img {
  opacity: 0.5;
  padding-right: 10px;
  padding-left: 10px;
  &:hover {
    opacity: 1;
  }
}
.review h4 {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}
.review h5 {
  font-size: 14px;
  color: white;
    margin-bottom: 10px;
  margin-top: 10px;
}
.review p {
  font-size: 18px;
  color: white;
  font-style: italic;
}

.txt-rotate {
  color: $blue;
}