/* General CSS */
* {
 font-family: 'Montserrat', sans-serif;
 font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.page-wrapper {
  margin: 0 auto;
  min-height: calc(100vh - 50px);
}

.banner-wrapper {
  width:100%;
  height:100vh;
  overflow: hidden;
  // background: linear-gradient(45deg, #000 45%, transparent 60%);
  video {
    object-fit: cover;
    width:100%;
    height:100%;
  }
}
video::-webkit-media-controls {
  display:none !important;
}
h1, h2, h6 {
  margin: 0;
  position: absolute;
  z-index: 2;
  font-size: 15vmin;
  transform:translateY(-50%);
  width: 100%;
  text-align: center;
  text-shadow:2px 2px 0 rgba(0,0,0,0.4);
}
h1 {
  top:30%;
  font-size: 48px;
}
h2 {
  top:36%;
  font-size: 34px;
  font-weight: 300;
}
p {
  font-size: 16px;
  line-height:1.7;
  color: $black;
  margin:20px;
}
.subheading {
  font-size: 42px;
  font-weight: bold;
  color: $blue;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-primary {
  background-color: transparent;
  border-color: $white;
  width: 185px;
  height: 40px;
  margin: 0;
  border-radius: 40px;
  position: absolute;
  z-index: 2;
  top:41%;
  left:45%;
  font-size: 14px;
  text-shadow:2px 2px 0 rgba(0,0,0,0.4);
  &:hover {
    background-color: $blue;
    border-color: $blue;
    text-shadow:none;
  }
}
h6 {
  top:95%;
  font-size: 48px;
  color: $white;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.text-white {
  color: $white;
}
.home {
  margin-top: 75px;
}
.intro, .interested {
  background-color: #e8e8e8;
}

.pricing {
  background-color: $sea-serpent;
}

section.blue {
  background: blue;
  height: 500px;
}





.txt-rotate {
  color: $blue;
}


/* Banner Button Down*/
.demo a {
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: $white;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#banner-button-down a {
  // margin: 0;
  // top: 90%;
}
#banner-button-down a span {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid $white;
  border-bottom: 1px solid $white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

/* Home Map*/
svg {
  height: 15vw;
}
path {
  fill: #d3d3d3; transition: .6s fill;
}
path:hover {
  fill: $sea-serpent;
}