<div class="wrapper-how-works container" id="how-works">
  <div class="how-works">
    <%= image_tag("home_how_works/how_works3.png") %>
    <h4 class="text-center" style="font-weight: 700; margin-top: 12.5px; margin-bottom: 12.5px"><%= t('home.how_works_h_3') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_3') %></p>
  </div>
</div>