<div class="wrapper-how-works container" id="how-works">
  <div class="how-works">
    <%= image_tag("home_how_works/how_works4.png", alt: "#{t('home.how_works_alt_4')}") %>
    <h4 class="text-center"><%= t('home.how_works_h_4') %></h4>
    <p class="text-center"><%= t('home.how_works_sh_4') %></p>
  </div>
</div>