<div class="wrapper-how-works container" id="how-works">
  <div class="how-works">
    <%= image_tag("home_how_works/how_works2.png") %>
    <p class="text-center" style="margin-top: 25px; margin-bottom: 25px"><%= t('home.how_works_sh_2') %></p>
  </div>
</div>