<div class="wrapper-how-works container" id="how-works">
  <div class="how-works">
    <%= image_tag("home_how_works/how_works1.png", alt: "#{t('home.how_works_alt_1')}") %>
    <h4 class="text-center"><%= t('home.how_works_h_1') %></h4>
    <p class="text-center" style="margin-top: 25px; margin-bottom: 25px"><%= t('home.how_works_sh_1') %></p>
  </div>
</div>