<ul class="news-logos">
  <li class="flex-item">
    <a target="_blank" href="https://www.sapo.pt/noticias/economia/huubster-coloca-um-travao-nas-mas-compras-de-_59a45119601ffc007c044f89">
      <%= image_tag("home_media/sapo.png", class: "news-logos-img") %>
    </a>
  </li>
  <li class="flex-item">
    <a target="_blank" href="http://www.jornaleconomico.sapo.pt/noticias/huubster-a-start-up-que-quer-trazer-transparencia-a-compra-de-carros-usados-202027">
      <%= image_tag("home_media/jornaleconomico.png", class: "news-logos-img") %>
    </a>
  </li>
  <li class="flex-item">
    <a target="_blank" href="https://eco.pt/2017/08/28/huubster-coloca-um-travao-nas-mas-compras-de-veiculos-usados/">
      <%= image_tag("home_media/economiaonline.png", class: "news-logos-img") %>
    </a>
    </li>
</ul>