<p>Seja bem-vindo aos Termos de uso do Wix.com! É um grande prazer tê-lo a bordo. Obrigado por optar por nossos serviços.</p>
<p>Relacionamos abaixo importantes disposições legais que se aplicam a qualquer pessoa que visite nosso site da internet ou que utilize nossos serviços. Os presentes termos são necessários para proteger tanto o Usuário quanto o site, bem como para tornar nossos serviços possíveis e mais eficientes para todos.
</p>
<br>
<p>1. Introdução</p>
<p></p>