/* HOME HOW-WORKS */
.wrapper-how-works {
  display: flex;
  justify-content: center;
  h4 {
  	bottom: 0;
  	width: 100%;
  }
  img {
  	display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 170px;
    // height: 170px;
  }
}
.how-works {
  padding-left: 10px;
  padding-right: 10px;
}
/* Home Map*/
svg {
  // height: 15vw;
  height: 25vw;
}
path {
  fill: #d3d3d3; transition: .6s fill;
}
path:hover {
  fill: $sea-serpent;
}

.how-works h4 {
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}


@media only screen and (max-width: 767px) {
  .how-works h4 {
    font-size: 30px;
  }
}