/* HOME REVIEW-CLIENTS */
.wrapper-review-clients {
  display: flex;
  justify-content: center;
  p {
    align-items: flex-end;
  }
  img {
  	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
  }
}
.review-clients {
  padding-left: 10px;
  padding-right: 10px;
}
.client-picture {
  border-radius: 50%;
}
.fa-star {
  color: $sea-serpent;
  padding-left: 3px;
  padding-right: 3px;
}

/* HOME REVIEW-MEDIA */
.review img {
  width: 150px;
  height: 150px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}
.news-logos {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-logos-img {
  opacity: 0.5;
  padding-right: 10px;
  padding-left: 10px;
  &:hover {
    opacity: 1;
  }
}
.review h4 {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}
.review h5 {
  font-size: 14px;
  color: white;
    margin-bottom: 10px;
  margin-top: 10px;
}
.review p {
  font-size: 18px;
  color: white;
  font-style: italic;
}


@media only screen and (max-width: 767px) {
  .footer {
    margin-top: 20px;
  }
  .footer-statement {
    padding-top: 10px;
    padding-bottom: 5px;
    h3 {
      font-size: 22px;
    }
  }
  .footer-links {
    padding-bottom: 10px;
    a {
      font-size: 14px;
      padding: 0px 10px;
    }
  }
}