/* HOME HOW-WORKS */
.wrapper-how-works {
  display: flex;
  justify-content: center;
  p {
    align-items: flex-end;
  }
  img {
  	display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.how-works {
  padding-left: 10px;
  padding-right: 10px;
}