/* HOME REVIEW-MEDIA */
.review img {
  width: 150px;
  height: 150px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}
.news-logos {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-logos-img {
  opacity: 0.5;
  padding-right: 10px;
  padding-left: 10px;
  &:hover {
    opacity: 1;
  }
}
.review h4 {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}
.review h5 {
  font-size: 14px;
  color: white;
    margin-bottom: 10px;
  margin-top: 10px;
}
.review p {
  font-size: 18px;
  color: white;
  font-style: italic;
}